.iconBase {
    color: #1D1D1D;
    font-family: var(--typography-type-secondary);
    font-style: italic;
    font-size: var(--typography-size-l);
    line-height: 140%;
    display: flex;
    align-items: center;
    /* Utilisez 'center' comme valeur par défaut */
    gap: 20px;
}

.iconLeft {
    flex-direction: row-reverse;
    align-items: flex-start;
    /* Spécifique à .iconLeft */
}

.iconRight {
    flex-direction: row;
    /* Spécifique à .iconRight */
}

/* Styles communs pour les images dans .iconLeft et .iconRight */
.iconLeft img,
.iconRight img {
    height: 30px;
    width: 30px;
}

/* Transformation spécifique pour l'image dans .iconLeft */
.iconLeft img {
    transform: scaleX(-1);
}