.filter {
  border: 2px solid var(--color-black);
  border-radius: 8px;
  width: 123px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;

  img {
    width: 2em;
    height: 1.5em;
  }
}

.filter-wrapper {
  display: none;
}

.active {
  margin-top: 10px;
  display: block;
  border: 2px solid var(--color-black);
  border-radius: 8px;

}