.image-wrapper {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 35px;
  background-color: var(--color-garlic-200);
  height: 40px;
  width: 51px;
  object-fit: contain;
  border-radius: 6px;

  img {
    height: 40px;
    width: 51px;
  }
}